/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffbf7;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  padding-top: 5%;
  height: 8.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #112a46;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #112a46;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #112a46;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  /* Add this rule to ensure it's visible on smaller screens */
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: #fffbf7;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
  border-radius: 3px;
}

.diseases-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.diseases-imgs {
  display: flex;
}

.diseases-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.diseases-imgs img:last-child {
  margin: 0;
}

.diseases-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.diseases-text span {
  color: #0a1a2b;
  font-weight: 700;
}

/**************************/
/* HOW IT WORKS SECTION */
/**************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 85%;

  padding-bottom: 85%;

  background-color: #f3f7fc;
  z-index: -2;
}
.step-img {
  width: 75%;
  /* z-index: 10; */
}
/**************************/
/* features SECTION */
/**************************/
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}

.feature {
  width: 250px;
  text-align: center;
  margin: 25px;
  background-color: #f9fafb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
}

.feature:hover {
  transform: translateY(-5px);
}

.feature img {
  width: 80px;
  margin-bottom: 20px;
}

.feature h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 16px;
}

/**************************/
/* FQAs */
/**************************/
.section-FQAs {
  margin: 10rem 0 10rem;
}
.fqa-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq {
  width: 100%;
  max-width: 900px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #000;
}

.questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.questions h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.answer p {
  padding-bottom: 1.2rem;
  line-height: 1.6;
  font-size: 1.6rem;
}

ul {
  list-style-type: disc;
  padding-left: 2rem;
}

li {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
}

.faq.active .answer {
  max-height: 300px; /* Change to your desired maximum height */
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

/**************************/
/* contact */
/**************************/
.contact-section {
  margin: 10rem 0;
}
.form-container {
  width: 100%;
  max-width: 700px;
}
.form-container input,
textarea {
  display: flex;
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.7rem;
  outline: none;
  border: 1px solid #0a1a2b;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  margin-top: auto !important;
  background-color: #0a1a2b;
  color: #ccc !important;
  text-align: center !important;
  padding: 20px 0;
  cursor: d;
}

.copyright {
  font-size: 12px;
}
